<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Home</title>
    <!-- swipper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header>
        <section>
            <a class="header__section--link-home" href="/"><img src="/img/logo.png" alt=""></a>
            <a class="header__section--button-nav" href=""><i class="fa-solid fa-bars"></i></a>
        </section>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/users/register">registro</a></li>
            </ul>
        </nav>

    </header>
    <main class="home__main">
        <!-- Slider main container -->
        <div class="swiper mySwiper_1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide swiper-slide_1">
                    <img src="/img/banner/banner_1.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-slide_1">
                    <img src="/img/banner/banner_2.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-slide_1">
                    <img src="/img/banner/banner_3.png" alt="">
                </div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-prev_1"></div>
            <div class="swiper-button-next swiper-button-next_1"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        <section class="home__main__section">
            <article class="home__main__section__article">
                <img src="/img/img-phone-01.jpg" alt="img-phone-01">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-02.jpg" alt="img-phone-02">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-03.jpg" alt="img-phone-03">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-01.jpg" alt="img-phone-01">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-02.jpg" alt="img-phone-02">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-03.jpg" alt="img-phone-03">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
        </section>
        <aside class="home__main__aside">
            <h2>Tutoriales</h2>
            <section class="home__main__aside__section--tutoriales">
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-01.jpg" alt="aside-01">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-02.jpg" alt="aside-02">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-03.jpg" alt="aside-03">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-04.jpg" alt="aside-04">
                    <p>Titulo del tutorial de reparación</p>
                </article>
            </section>
            <h2>Publicidad</h2>
            <section class="home__main__aside__section--publicidad">
                <img src="/img/ad-01.jpg" alt="ad-01">
                <img src="/img/ad-02.jpg" alt="ad-02">
            </section>
        </aside>
        <div class="home__main__section-sales">
            <div class="swiper_2 mySwiper_2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide_2">
                        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination_2"></div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper_1 = new Swiper('.mySwiper_1', {

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next_1',
                prevEl: '.swiper-button-prev_1',
            },

        });

        const swiper_2 = new Swiper(".mySwiper_2", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination_2",
            },
        });

    </script>
</body>

</html>