<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header>
        <section>
            <img src="/img/logo.png" alt="">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </section>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>

    </header>
    <main class="home__main">
        <section class="home__main__section">
            <article class="home__main__section__article">
                <img src="/img/img-phone-01.jpg" alt="img-phone-01">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-02.jpg" alt="img-phone-02">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-03.jpg" alt="img-phone-03">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-01.jpg" alt="img-phone-01">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-02.jpg" alt="img-phone-02">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
            <article class="home__main__section__article">
                <img src="/img/img-phone-03.jpg" alt="img-phone-03">
                <h4>Nombre del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis
                    nemo enim.</p>
                <a href="">ver mas</a>
            </article>
        </section>
        <aside class="home__main__aside">
            <h2>Tutoriales</h2>
            <section class="home__main__aside__section--tutoriales">
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-01.jpg" alt="aside-01">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-02.jpg" alt="aside-02">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-03.jpg" alt="aside-03">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article class="home__main__aside__section__article">
                    <img src="/img/aside-04.jpg" alt="aside-04">
                    <p>Titulo del tutorial de reparación</p>
                </article>
            </section>
            <h2>Publicidad</h2>
            <section class="home__main__aside__section--publicidad">
                <img src="/img/ad-01.jpg" alt="ad-01">
                <img src="/img/ad-02.jpg" alt="ad-02">
            </section>
        </aside>
    </main>
</body>

</html>