<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Perfil</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="register">
    <header>
        <section>
            <a class="header__section--link-home" href="/"><img src="/img/logo.png" alt=""></a>     
            <a class="header__section--button-nav" href=""><i class="fa-solid fa-bars"></i></a>
        </section>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="register__main">
      <section class="box__card">
         <div class="box__card--title">
                <h3>Pefil de usuario</h3>
                <hr>
            </div>
        <form action="" class="form">
            <div class="form__box">
                <label class="form__label" for="name">Nombre</label>
                <input class="form__input" id="name" type="text" value="Eric" name="name">
            </div>
            <div class="form__box">
                <label class="form__label" for="surname">Apellido</label>
                <input class="form__input" id="surname" type="text" value="Mena" name="surname">
            </div>
            <div class="form__box">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" id="email" type="email" readonly value="menaericdaniel@gmail.com" name="email">
            </div>
            <div class="form__box">
                <p>¿Ya estás registrado? <a class="link" href="/login">Ingresá</a></p>
            </div>
            <div class="box__end">
                <button class="button button__secondary" type="reset">Limpiar</button>
                <button class="button button__primary" type="submit">Enviar</button>
            </div>
        </form>
      </section>
    </main>
</body>

</html>