<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="register">
    <header>
        <section>
            <img src="/img/logo.png" alt="">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </section>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="register__main">
      <section class="register__main__section">
        <form action="" class="form">
            <div class="form__box">
                <label class="form__label" for="">Nombre</label>
                <input class="form__input" type="text" placeholder="Escribí tu nombre">
            </div>
            <div class="form__box">
                <label class="form__label" for="">Apellido</label>
                <input class="form__input" type="text" placeholder="Escribí tu nombre">
            </div>
        </form>
      </section>
    </main>
</body>

</html>