<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="register">
    <header>
        <section>
            <a class="header__section--link-home" href="/"><img src="/img/logo.png" alt=""></a>     
            <a class="header__section--button-nav" href=""><i class="fa-solid fa-bars"></i></a>
        </section>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/users/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="register__main">
        <section class="box__card box__card--simple">
            <div class="box__card--title">
            <h3>Registro</h3>
            <hr>
        </div>
        <form action="" class="form">
            <div class="form__box">
                <label class="form__label" for="name">Nombre</label>
                <input class="form__input" id="name" type="text" placeholder="Escribí tu nombre" name="name">
                <small class="form__msg-error">El nombre es obligatorio</small>
            </div>
            <div class="form__box">
                <label class="form__label" for="surname">Apellido</label>
                <input class="form__input" id="surname" type="text" placeholder="Escribí tu apellido" name="surname">
                <small class="form__msg-error">El apellido es obligatorio</small>
            </div>
            <div class="form__box">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" id="email" type="email" placeholder="correo@correo.com" name="email">
            </div>
            <div class="form__box">
                <label class="form__label" for="password">Contraseña</label>
                <input class="form__input" id="password" type="password" placeholder="tu contraseña" name="password">
            </div>
            <div class="form__box">
                <label class="form__label" for="password2">Confirma tu contraseña</label>
                <input class="form__input" id="password2" type="password" placeholder="confirma tu contraseña" name="password2">
            </div>
            <div class="form__box">
                <p>¿Ya estás registrado? <a class="link" href="/auth/login">Ingresá</a></p>
            </div>
            <div class="box__end">
                <button class="button button__secondary" type="reset">Limpiar</button>
                <button class="button button__primary" type="submit">Enviar</button>
            </div>
        </form>
      </section>
    </main>
</body>

</html>