.button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.button__primary {
    background-color: var(--colorRojo);
    color: var(--colorBlanco);
}

.button__secondary {
    background-color: var(--colorGris);
    color: var(--colorBlanco);
}