:root {
    --colorRojo : #ff4500;
    --colorGris : #6b6868;
    --colorBlanco : #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: 'lato';
    max-width: 1140px;
    margin: 0 auto;
    background-image: url('/img/bg-2.png');
}

.box__end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.box__card {
    max-width: 320px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #c0c0c0;
    border-radius: 5px;
}

.box__card--title {
    margin-bottom: 30px;
    text-align: end;
}

.link {
    color: var(--colorRojo);
}