header {
    background-color: #ff4500;
    padding: 20px;
}

header section { 
    display: flex;
    justify-content: space-between;
}

.header__section--button-nav{
    border: 1px solid #ffffff;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 1.5rem;
}

header nav {
    display: none;
}

header nav ul {
    margin-top: 10px;
}

header nav ul li {
    padding: 2px 0;
}

header nav ul li a {
    text-transform: uppercase;
}

/* tablet */
@media (min-width:768px) {

    header {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .header__section--button-nav{
       display: none;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
    }

    header nav ul {
        display: flex;
        gap: 10px;
    }
}