header {
    background-color: #ff4500;
    padding: 20px;
}

header nav {
    margin-top: 20px;
}

header nav ul {
    margin-top: 10px;
}

header nav ul li {
    padding: 2px 0;
}

header nav ul li a {
    text-transform: uppercase;
}